.whole {
    background-color: aqua;
    padding: 20%;auto
    background-color: ;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.bottom {
    justify-content: space-between;
    display: flex;
}

h3 {
    background-color: white;
}