.main {
  }
  
.box {
    display: flex;

}

.ph{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: left;
    padding: 30px;
}

.pic {
    position: relative
}

.crub {
display: flex;f

}

.box:hover {
    color: linear-gradient(180deg,#fc004d 0,#000)
    ;
}

.butt {

}

.tittle {
    text-align: center;
}