html, body {
    height: 100%;
}
.header {
    text-align: center;
}

.p {
    border: 2px;
    border-color: black;
    border-radius: 4%;
    padding: 50px
}

.three {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pic {
    position: relative;
}

.absolute {
    position: absolute;
}