html {
    width: 100%;
    height: 100%;
    align-content: center;
}
.whom {
    display: flex; 
    justify-content: space-evenly;
}

.left {
    border: 2px;
    border-color: white;
    border-radius: 4%;
    padding: 50px;
    text-align: center;
}

.left:hover {
    background: linear-gradient(90deg,#f61b10,#ef0963);
    color: white; 
}

.left:hover .close {
    color: #fff;
}

.right {
    border: 2px;
    border-color: white;
    border-radius: 4%;
    padding: 50px;
    align-items: center;
    text-align: center;
}

.close {
    color: grey;
}