html {
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #2e434e;
}

.textop {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    top: -100px;
    background-color: #f1f1f1;
    z-index: 2;
    transition: top 0.5s;
}

.markrober {
    color: #314550; 
}

.invis {
    display: none;
}

.poweranger {
    display: flex;
}

.bottom {

}

#one {
    position: absolute;
    animation-name: pop;
    animation-duration: 2s;
    animation-timing-function: 4;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}   

#two {
    position: absolute;
    animation-name: pope;
    animation-duration: 2.5s;
    animation-timing-function: 4;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#three {
    position: absolute;
    animation-name: poper;
    animation-duration: 3s;
    animation-timing-function: 4;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#four {
    position: absolute;
    animation-name: popers;
    animation-duration: 3.5s;
    animation-timing-function: 4;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes pop {
     100% {opacity: 1;}
}

@keyframes pope {
    0% {left: 10px}
    100% {left: 550px; opacity: 1;}
}

@keyframes poper {
    0% {left: 10px;}
    100% {left: 1100px; opacity: 1;}
}

@keyframes popers {
    0% {left: 10px;}
    100% {left:1650px; opacity: 1;} 
}

.textbot {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 143px;
    padding-left: 100px;
    opacity: 0;
    display: flex;
    position: absolute;
    left: 0px;
    top: 300px;
    background-color: #f1f1f1;
    justify-content: space-between;
    transition: opacity 1s;
}

#one:hover .textop {
    top: -230px;
}

#one:hover .textbot{
    opacity: 1;
}

#two:hover .textop {
    top: -230px;
}

#two:hover .textbot{
    opacity: 1;
}

#three:hover .textop {
    top: -230px;
}

#three:hover .textbot{
    opacity: 1;
}

#four:hover .textop {
    top: -230px;
}

#four:hover .textbot{
    opacity: 1;
}

.left {
    object-fit: cover;
}

#four:hover .pic {
transform: scale(1.5);
} 