#wheat {
    display: flex;
    justify-content: center;
}

#secret {
    position: absolute;
    background-color: white;
    bottom: -2px;
    right: -2px;
    border-color: white;
}

.flex {
    display: flex;
}


#get-weather {
    padding: 5px;
}