html {
    background: #5629b6;
}

.top {
    text-align: center;
    color: white;
    position: relative;
    top: 400px;
    left: -64px;
}

.bottom {
    text-align: center;
    color: white;
    position: relative;
    top: 400px;
}

.bolt {
    position: relative;
    height: 30px;
    width: 30px;
    top: 368px;
    left: 918px;
}

.light {
    position: relative;
    height: 30px;
    width: 30px;
    top: 306px;
    left: 1120px;
}

.scrible {
    position: relative;
    height: 30px;
    width: 30px;
    top: 368px;
    left: 1200px;
}